<section class="app-header">
  <h3 routerLink="" class="app-logo capitalize">bitwallet</h3>
  <nav class="header-nav">
    <ul class="nav-list">
      <li
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="capitalize"
      >
        home
      </li>
      <li routerLink="contacts" routerLinkActive="active" class="capitalize">
        contacts
      </li>
      <li routerLink="statistics" routerLinkActive="active" class="capitalize">
        statistics
      </li>
    </ul>
  </nav>
</section>
